@use "../abstracts/variables" as variables;
@use "../abstracts/typographies" as typo;
@use "../abstracts/theme-utils" as *;

.button-new {
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 5rem;
  right: 1rem;
  border-radius: 50%;
  border: none;
  background-color: theme-color(primary);
  color: theme-color(text-light);
}

.button-new-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: theme-color(primary);
  border-radius: variables.$border-radius;
  height: 27rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__item {
    text-align: left;
    border: none;
    cursor: pointer;
    background-color: theme-color(primary);
    color: theme-color(text-light);
    padding: 1rem 2rem;
    border-radius: variables.$border-radius;

    &:hover {
      background-color: theme-color(hover);
    }
  }
}
