@use "./themes" as *;
@use "sass:map";

@function theme-color($key, $theme-name: $themeDefault) {
  $themes: (
    default: $themeDefault,
    aurore: $themeAurore,
    zenith: $themeZenith,
    golden-hour: $themeGoldenHour,
    midnight: $themeMidnight,
  );
  @return map.get($themes, $theme-name), $key;
}

@each $name,
  $theme
    in (
      "default": $themeDefault,
      "aurore": $themeAurore,
      "zenith": $themeZenith,
      "golden-hour": $themeGoldenHour,
      "midnight": $themeMidnight
    )
{
  [data-theme="#{$name}"] {
    background-color: map.get($theme, background);
    color: map.get($theme, text);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: map.get($theme, heading);
    }
  }
}
