@use "sass:map";
@use "./themes" as *;

@function theme-color($key, $theme-name: default) {
  $themes: (
    default: $themeDefault,
    aurore: $themeAurore,
    zenith: $themeZenith,
    golden-hour: $themeGoldenHour,
    midnight: $themeMidnight,
  );

  $theme-map: map.get($themes, $theme-name);
  @return map.get($theme-map, $key);
}

@each $name,
  $theme
    in (
      default: $themeDefault,
      aurore: $themeAurore,
      zenith: $themeZenith,
      golden-hour: $themeGoldenHour,
      midnight: $themeMidnight
    )
{
  [data-theme="#{$name}"] {
    background-color: map.get($theme, background);
    color: map.get($theme, text-light);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: map.get($theme, heading);
    }

    .button {
      background-color: map.get($theme, primary);
      &:hover {
        background-color: map.get($theme, hover);
      }
    }
  }
}
