// Typography
$font-heading: "Didot", serif;
$font-family-body: "Roboto", sans-serif;

// Font Sizes
$font-size-base: 1rem;
$font-size-secondaty: 0.875rem;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.125rem;
$font-size-h6: 1rem;
