@use "../abstracts/theme-utils" as *;

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1em;

  &__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #bfbfbf;
    background-color: theme-color(side);
  }
}

.area-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1em;
  width: 100%;

  &__textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #bfbfbf;
    background-color: theme-color(side);
    height: 300px;
  }
}
