@use "../abstracts/theme-utils" as *;

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 4rem 0rem;
  box-sizing: border-box;
  background-color: theme-color(background);
}

.project-select-container {
  width: 100vw;
  color: theme-color(text-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: theme-color(background);
}
