@use "../abstracts/theme-utils" as *;

.user-profile {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;

  p {
    color: theme-color(text-dark);
  }

  &__projects {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    box-sizing: border-box;

    h2 {
      padding-top: 1rem;
    }

    p {
      color: theme-color(text-dark);
    }
  }

  &__projects__list {
    list-style: none;
    margin: 0;
    background-color: theme-color(side);
    opacity: 0.5rem;

    li {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
      box-sizing: border-box;
      border-bottom: 1px solid #bfbfbf;

      h4 {
        padding-block: 0.5rem;
      }
    }
  }
}
